---
layout: default
---

<div class="home">

  <div class="post-column">

    <h1 class="page-heading">Game Updates</h1>

    <ul class="post-list">
      {% for post in site.categories.game %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>

  </div>

  <div class="post-column">

    <h1 class="page-heading">Personal Posts</h1>

    <ul class="post-list">
      {% for post in site.categories.personal %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
