<div class="sidebar ">
    <h2>Projects and Misc. Apps</h2>
    <ul>
        <li><a class="page-link" href="{{site.url}}/demos/">A.I. Demos</a></li>
        <li><a class="page-link" href="{{site.url}}/demos/Math/Project 1">Math Project 1</a></li>
        <li><a class="page-link" href="{{site.url}}/demos/Math/Project 2">Math Project 2</a></li>
        <li><a class="page-link" href="{{site.url}}/demos/Math/Project 3">Math Project 3</a></li>
        <li><a class="page-link" href="{{site.url}}/demos/Math/Project 4">Math Project 4</a></li>
        <li><a class="page-link" href="{{site.url}}/apps/txt2regiletter/">Text to Regional Letter Emoji</a></li>
    </ul>
</div>

<div class="sidebar ">
    <h2>Recent Posts</h2>
    <ul>
        {% for post in site.posts limit:5 %}
        <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<!-- <div class="sidebar">
  <h2>Tags</h2>
  <ul class="sideBarTags">
    {% assign tags = (site.tags | sort:0) %}
    {% for tag in tags %}
    <li>
      <a href="{{ site.baseurl}}/tag/{{ tag[0] }}" data-toggle="tooltip" data-placement="right" title="{{ tag[1].size }}">
        <span>{{tag[0] }}</span></a></li>
    {% endfor %}
  </ul>
</div> -->
